* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 2.4rem;
  line-height: normal;
  color: #2f1d57;
  height: 100vh;
  overflow: hidden; }
  body.active {
    height: auto;
    overflow: auto; }
    body.active .hero-area:before {
      height: 33vh; }
    body.active .section {
      display: block; }

main {
  position: relative;
  width: 100%;
  z-index: 1; }
  main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

section {
  height: 100vh;
  width: 100%;
  position: relative; }

.section {
  padding: 80px 0;
  display: none;
  overflow: hidden; }

.container {
  width: calc(100vw - 6.6rem);
  max-width: 1366px;
  margin: 0 auto;
  position: relative; }

.transform-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.hero-area {
  background: linear-gradient(22deg, #2f1d57 11%, #2f1d57 43%, #ff8300 100%, #ff8300 100%); }
  .hero-area .container {
    height: 100vh; }

.circle {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100vh;
  left: 50%;
  filter: blur(22px);
  transform-origin: center center;
  transform: translateX(-50%) rotate(0deg) scale(0.8);
  border-radius: 50%;
  background: #ff8300;
  box-shadow: inset 0px 130px 70px 104px rgba(47, 29, 87, 0.8); }
  .circle:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px -40px 80px 30px rgba(47, 29, 87, 0.7); }

.menu-container {
  position: fixed;
  top: calc(100vh - 300px);
  left: calc(50% - 683px);
  height: 300px;
  width: 300px;
  overflow: hidden;
  z-index: 10; }
  @media (max-width: 1366px) {
    .menu-container {
      left: 0; } }

.visible {
  display: block; }

.invisible {
  display: none; }

main.black .menu span.spin-one:after {
  border: 3px solid #ff8300; }
main.black .menu span.spin-two:after {
  border: 5px solid #ff8300; }
main.black .menu span.menu-trigger {
  background: #ff8300;
  color: #fff; }
main.black .menu ul li a {
  color: #fff; }
main.black .menu .outer-circle:after {
  border: 1px solid #ff8300; }
main.black .menu .inner-circle:after {
  border: 5px solid #ff8300; }

main.red .menu span.spin-one:after {
  border: 3px solid #fff; }
main.red .menu span.spin-two:after {
  border: 5px solid #fff; }
main.red .menu span.menu-trigger {
  background: #fff;
  color: #ff8300; }
main.red .menu ul li a {
  color: #ff8300; }
main.red .menu .outer-circle:after {
  border: 1px solid #fff; }
main.red .menu .inner-circle:after {
  border: 5px solid #fff; }

.menu {
  position: relative;
  top: calc(100% - 150px);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform .5s ease-out; }
  .menu .outer-circle {
    position: absolute;
    height: 300px;
    width: 150px;
    left: 75px;
    top: -75px;
    overflow: hidden;
    transform-origin: left center;
    transform: rotate(125deg);
    transition: .5s ease-out;
    opacity: 0; }
    .menu .outer-circle:after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: -100%;
      height: 100%;
      width: 200%;
      border-radius: 50%;
      border: 1px solid #fff; }
  .menu .inner-circle {
    position: absolute;
    height: 280px;
    width: 140px;
    left: 75px;
    top: -65px;
    overflow: hidden;
    transform-origin: left center;
    transform: rotate(144deg);
    transition: .5s ease-out;
    opacity: 0; }
    .menu .inner-circle:after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      left: -100%;
      height: 100%;
      width: 200%;
      border-radius: 50%;
      border: 5px solid #fff; }
  .menu span {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden; }
    .menu span.spin-one {
      left: 0;
      transform-origin: right center; }
      .menu span.spin-one:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        height: calc(100% - 10px);
        width: calc(200% - 10px);
        border: 3px solid #fff;
        border-radius: 50%;
        transition: transform .4s ease-out, background .1s linear; }
    .menu span.spin-two {
      left: 50%;
      transform-origin: left center; }
      .menu span.spin-two:after {
        content: '';
        position: absolute;
        top: 6px;
        left: calc(-50% - 32px);
        height: calc(100% - 22px);
        width: calc(200% - 22px);
        border: 5px solid #fff;
        border-radius: 50%;
        transition: color .1s linear, background .1s linear; }
    .menu span.menu-trigger {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background: #fff;
      color: #ff8300;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: transform .2s ease-out;
      transform-origin: 10% 10%;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.8rem; }
      .menu span.menu-trigger:active {
        transform: scale(0.8) translate(-50%, -50%);
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75); }
  .menu ul {
    position: absolute;
    left: 50%;
    top: 50%;
    list-style: none;
    transform: rotate(-15deg) translate(-50%, -50%); }
    .menu ul li {
      position: absolute;
      transform-origin: left;
      transition: .3s ease-out;
      opacity: 0; }
      .menu ul li:nth-child(1) {
        transform: rotate(-30deg) translateX(50px); }
      .menu ul li:nth-child(2) {
        transform: rotate(-10deg) translateX(50px);
        transition-delay: .1s; }
      .menu ul li:nth-child(3) {
        transform: rotate(10deg) translateX(50px);
        transition-delay: .2s; }
      .menu ul li:nth-child(4) {
        transform: rotate(30deg) translateX(50px);
        transition-delay: .3s; }
      .menu ul li.active {
        opacity: 1; }
        .menu ul li.active:nth-child(1) {
          transform: rotate(-30deg) translateX(90px); }
        .menu ul li.active:nth-child(2) {
          transform: rotate(-10deg) translateX(86px); }
        .menu ul li.active:nth-child(3) {
          transform: rotate(10deg) translateX(84px); }
        .menu ul li.active:nth-child(4) {
          transform: rotate(30deg) translateX(82px); }
      .menu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 1.8rem; }
  .menu.active .outer-circle {
    opacity: 1;
    transform: rotate(-35deg); }
  .menu.active .inner-circle {
    opacity: 1;
    transform: rotate(324deg); }

.hero-text div:nth-child(1) {
  top: 0%; }

.hero-text div:nth-child(1) p {
  transition-delay: 0.1s; }

.hero-text div:nth-child(2) {
  top: 25%; }

.hero-text div:nth-child(2) p {
  transition-delay: 0.2s; }

.hero-text div:nth-child(3) {
  top: 50%; }

.hero-text div:nth-child(3) p {
  transition-delay: 0.3s; }

.hero-text div:nth-child(4) {
  top: 75%; }

.hero-text div:nth-child(4) p {
  transition-delay: 0.4s; }

.hero-text {
  position: relative;
  height: 70vh;
  width: 70%;
  left: 50%;
  top: calc(90% - 70vh);
  transform: translateX(-50%); }
  .hero-text div {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%); }
  .hero-text p {
    position: relative;
    font-size: 15vh;
    color: transparent;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    -webkit-text-stroke: 2px #fff;
    transform: translateY(100%);
    transition: .5s ease-out; }
    .hero-text p.second-hero-text-line {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff; }
  .hero-text.active div {
    transform: none;
    transition: .8s ease-out; }
    .hero-text.active div:nth-child(1) {
      left: 10%; }
    .hero-text.active div:nth-child(2) {
      left: 55%; }
    .hero-text.active div:nth-child(3) {
      left: 15%; }
    .hero-text.active div:nth-child(4) {
      left: 40%; }
  .hero-text.active p.second-hero-text-line {
    opacity: 0; }

.s2 {
  background: linear-gradient(163deg, #2f1d57 11%, #2f1d57 43%, #ff8300 141%, #ff8300 100%); }
  .s2 .container {
    height: 100%; }

.s3 {
  background: linear-gradient(18deg, #2f1d57 11%, #2f1d57 43%, #ff8300 141%, #ff8300 100%); }

.slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 200px;
  position: relative; }
  .slide h3 {
    font-size: calc(4vh + 1rem);
    color: #fff; }
  .slide p {
    font-size: calc(2vh + 1rem);
    color: #fff; }
  .slide .s2-intro {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transform-origin: top center; }
  .slide p.skill {
    position: relative;
    opacity: 0;
    margin: 0 150px;
    transform: translateX(-30px);
    transition: .3s ease-out; }
    .slide p.skill:nth-child(odd) {
      text-align: right;
      transform: translateX(30px); }
    .slide p.skill.active {
      opacity: 1;
      transform: translateX(0); }

.lala {
  position: absolute;
  left: 0;
  top: -80px;
  background: #000;
  width: 1px;
  height: 0; }

.s2.active .dark-overlay {
  transform: scaleY(1); }

.row {
  display: flex;
  margin-bottom: 70px; }
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      margin-bottom: 30px; } }

.image-card {
  height: 300px;
  width: 100%; }

.s2-row {
  justify-content: center; }
  .s2-row .card-portrait {
    position: relative;
    height: 400px;
    width: 100%;
    max-width: 25%;
    margin-right: 30px; }

.border-one, .border-two {
  display: block; }

.border-one:after, .border-two:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  background: #2f1d57;
  transition: .2s ease-out; }

.border-one:before, .border-two:before {
  content: '';
  position: absolute;
  height: 0;
  width: 1px;
  background: #2f1d57;
  transition: .2s ease-out; }

.border-one:after {
  transform-origin: right;
  right: 0;
  top: 0; }

.border-two:after {
  left: 0;
  bottom: 0; }

.border-one:before {
  left: 0; }

.border-two:before {
  right: 0;
  bottom: 0; }

.section.active .border-one:after {
  width: 100%;
  transition-delay: .4s; }
.section.active .border-two:after {
  width: 100%;
  transition-delay: .8s; }
.section.active .border-one:before {
  height: 100%;
  transition-delay: .6s; }
.section.active .border-two:before {
  height: 100%;
  transition-delay: 1s; }

.rrr {
  height: 90vh;
  width: 100%;
  background: gray; }

/*# sourceMappingURL=style.css.map */
